/* [ RESPONSIVE DESIGN STYLES ] */
/*================================================== */
/*** Only Wide Screens ***/
@media only screen and (max-width: 1024px) {
  .home-hero {
    height: auto !important;
  }
  .home-hero video {
    height: auto !important;
  }
}
/*** Large Devices, Wide Screens ***/
/*** Devices Width 767px and Up ***/
/*** Only Medium Devices, Desktops ***/
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media (max-width: 992px) {
  .section-1 {
    padding-bottom: 35px;
  }
  .section-1 .content {
    text-align: left;
    top: auto;
    -webkit-transform: none;
    transform: none;
    margin: 30px auto 0;
  }
  #header {
    padding: 10px 15px;
  }
  #header .logo-box img {
    width: 165px;
  }
  #header .main-menu {
    display: none;
  }
  #header .toggler button {
    display: block;
  }
  .mobile-menu {
    border-top: 4px solid green;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding-top: 100px;
    z-index: 9;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .mobile-menu.active {
    display: block;
  }
  .mobile-menu .close-toggler {
    position: absolute;
    top: 21px;
    right: 19px;
    /* float: right; */
  }
  .mobile-menu .close-toggler button {
    background: transparent;
    border: none;
  }
  .mobile-menu .close-toggler button i {
    font-size: 30px;
    color: #fff;
  }
  .mobile-menu ul {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .mobile-menu ul li {
    position: relative;
    display: block;
  }
  .mobile-menu ul li a {
    position: relative;
    display: block;
    padding: 15px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Bai Jamjuree", sans-serif;
  }
  .mobile-menu ul li a:hover {
    background: #ee3c42;
    color: #fff;
  }
  .section-2 {
    padding: 75px 15px;
  }
  .section-2 .content {
    top: auto;
    -webkit-transform: none;
    transform: none;
  }
  .section-3 {
    text-align: center;
    padding: 50px 0;
  }
  footer .right {
    text-align: center;
    padding: 40px 15px;
  }
  footer .left {
    padding: 50px 15px;
  }
  footer .left .menu {
    text-align: center;
  }
  footer .left .menu .single {
    text-align: left;
  }
  footer .footer-logo {
    text-align: center;
  }
  footer .social {
    text-align: center;
    margin-top: 25px;
  }
  p,
  a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .section-2 .content {
    text-align: left;
    padding: 0px 10px;
  }
  .section-3 .content {
    margin-left: 10px;
  }
  footer .left {
    position: relative;
  }
  footer .left .menu {
    text-align: left;
    margin-left: 15px;
  }
  footer .left .menu .single:first-of-type {
    margin-right: 80px;
  }
  footer .right .content {
    max-width: 100%;
    text-align: left;
  }
  footer .footer-logo {
    text-align: left;
    margin-left: 15px;
  }
  footer .social {
    text-align: unset;
    margin-top: 0px;
    position: absolute;
    top: 60px;
    right: 25px;
  }
}
/* Small Devices Potrait */
@media (max-width: 767px) {
  #header {
    padding: 0px 15px;
  }
  .home-hero .content p {
    display: none;
  }
  .home-hero .bottom-bar {
    padding: 5px 0px;
    height: 56px;
  }
  .home-hero .bottom-bar .inner-container .tile {
    display: none;
  }
  .home-hero .bottom-bar .inner-container .track-form {
    display: block;
    margin-top: 10px;
  }
  .home-hero .bottom-bar .inner-container .track-form .btn-red {
    padding: 7px 12px;
  }
  .section-1 .acq,
  .section-3 .acq {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-2 {
    background-attachment: initial !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }
  .section-2 .content .btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-2 .content .btn-wrapper button {
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  footer .box {
    height: 560px;
  }
  footer .right .content .copyright {
    margin-top: 50px;
  }
  footer .menu .single:first-of-type {
    margin-right: 18%;
  }
  footer .social {
    top: 65px;
    right: 10px;
  }
  footer .box:last-child {
    height: 480px;
  }
}