{% extends 'layouts/home-layout.html' %}
<!----->
{% block title %} Investors {% endblock title %}
<!----->
{% block style %}
<style>
  @media only screen and (max-width: 600px) {
    .hero .bottom-bar {
      display: none !important;
    }
  }
</style>
{% endblock style %}<!---->

{% block content %}

<div class="investors">
  <!-- <div class="inner-menu">
    <div class="inner-container">
      <a class="selected" href="/investors/">INVESTING </a>
      <a href="/presentations-and-reports/">PRESENTATIONS & REPORTS</a>
      <a href="/shareholder-information/">SHAREHOLDER INFORMATION</a>
    </div>
  </div> -->
  <section
    class="hero"
    data-parallax="scroll"
    data-image-src="/assets/images/3_0_1_TFI_hero_images_desktop-1.jpg"
    style="overflow-x: hidden"
  >
    <div class="content wow fadeInLeft animated">
      <h2 class="white">Creating Exponential Value</h2>
    </div>
    <div class="bottom-bar">
      <div class="inner-container wow fadeInRight animated">
        <div class="tile">
          <h1 id="countEmployees" class="white">24,000</h1>
          <h1 class="white">+</h1>
          <h6 class="red">EMPLOYEES</h6>
        </div>
        <div class="tile">
          <h1 id="countDrivers" class="white">11,800</h1>
          <h1 class="white">+</h1>
          <h6 class="red">DRIVERS</h6>
        </div>
        <div class="tile">
          <h1 id="countCompanies" class="white">540</h1>
          <h1 class="white">+</h1>
          <h6 class="red">FACILITIES</h6>
        </div>
        <div class="tile">
          <h1 id="countfacilities" class="white">90</h1>
          <h1 class="white">+</h1>
          <h6 class="red">
            OPERATING<br />
            COMPANIES
          </h6>
        </div>
      </div>
    </div>
  </section>

  <section class="invest-sec2" style="overflow-x: hidden">
    <div class="container-fluid">
      <div class="row acq">
        <div
          class="col-xs-12 col-md-5 col-md-push-6 box wow slideInRight animated"
        >
          <div class="content">
            <h3>Investing in BSX</h3>
            <p>
              {{domain}} is a North American leader in logistics and
              transportation. We are diversified across multiple geographies,
              industry verticals and business segments, including Package and
              Courier, Less-Than-Truckload, Truckload and Logistics.
            </p>
            <p>
              Supported by an extensive network of motivated people,
              cutting-edge technology and world-class assets, we help customers
              grow and manage their operations more efficiently.
            </p>
            <p>
              <strong
                >{{domain}}. is publicly traded on the
                <span style="display: inline-block">New York</span> Stock
                Exchange and the Toronto Stock Exchange under the symbol
                BSX.</strong
              >
            </p>
          </div>
        </div>
        <div
          class="col-xs-12 col-md-7 col-md-pull-6 box wow slideInLeft animated"
        >
          <img src="/assets/images/investors-sec2-img.png" />
        </div>
      </div>
    </div>
  </section>
  <section
    class="invest-sec3"
    data-parallax="scroll"
    data-image-src="/assets/images/3_0_2_TFI_hero_images_desktop-1.jpg"
  >
    <div class="content wow fadeInLeft animated">
      <h3 class="white">Overview</h3>
    </div>
  </section>
  <section class="invest-sec4" style="overflow-x: hidden">
    <div class="content">
      <p class="wow fadeInLeft animated">
        Over the past 20 years, {{domain}} has produced a cumulative shareholder
        return well in excess of the TSX and S&P 500. Our overarching focus is
        on creating shareholder value, unlocking it for our investors, and
        whenever possible, returning excess capital to our shareholders.
      </p>
      <p class="wow fadeInLeft animated">
        <strong
          >To accomplish these goals, we constantly strive for operating
          efficiencies:</strong
        >
      </p>
      <ul>
        <li class="wow fadeInLeft animated" data-wow-delay="0.2s">
          Innovating to find value-added solutions for our clients
        </li>
        <li class="wow fadeInLeft animated" data-wow-delay="0.3s">
          Pursuing an asset-light business model
        </li>
        <li class="wow fadeInLeft animated" data-wow-delay="0.4s">
          Maintaining a strong balance sheet
        </li>
        <li class="wow fadeInLeft animated" data-wow-delay="0.5s">
          Seeking accretive acquisitions while maintaining a high level of
          discipline
        </li>
      </ul>
    </div>
  </section>
  <section class="invest-sec5" style="overflow-x: hidden">
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-3 left wow fadeInLeft animated"
          data-wow-delay="0.6s"
        >
          <img src="/assets/images/growth-strat.png" />
        </div>
        <div class="col-xs-12 col-sm-9">
          <h3 class="white wow fadeInLeft animated" data-wow-delay="0.2s">
            Growth Strategy
          </h3>
          <div class="content">
            <h6 class="white">EXPANDING OUR PORTFOLIO</h6>
            <p class="white">
              A key part of our growth strategy is to acquire well-managed
              companies that are leaders in their market. We generally retain
              existing management and provide them with the requisite tools and
              support to excel. Our strategy is focused, disciplined, highly
              developed and proven.
            </p>
            <p class="white">
              Businesses under consideration must meet strict standards and be
              accretive to our financial performance in the near term. They must
              have demonstrable value in expanding our portfolio of companies by
              increasing our geographic reach, by providing complementary
              services, or by improving market penetration. Our preference is to
              acquire asset-light operations.
            </p>
            <p class="white">
              Smart, strategic acquisitions have been the key to our growth,
              expanding our reach, increasing our route density, and enhancing
              our capability to serve a large variety of customers, thereby
              promoting new platforms for further growth and strong shareholder
              returns.
            </p>
          </div>
          <button class="btn-red wow fadeInLeft animated" data-wow-delay="0.3s">
            READ MORE <span>+</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="invest-sec6" style="overflow-x: hidden">
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-3 left wow fadeInLeft animated"
          data-wow-delay="0.2s"
        >
          <img src="/assets/images/account-info.png" />
        </div>
        <div class="col-xs-12 col-sm-9">
          <h3 class="white wow fadeInLeft animated" data-wow-delay="0.3s">
            Account Information
          </h3>
          <div class="content">
            <h6 class="white">SHARE OWNERSHIP</h6>
            <p class="white">
              If you are a registered shareholder, meaning you have a share
              certificate in your possession, you should contact Computershare
              Trust Company of Canada for information pertaining to your
              account.
            </p>
            <p class="white">
              If you are a beneficial shareholder, meaning you do not have a
              share certificate in your possession and your holdings are kept in
              the name of a nominee such as a trustee, financial institution or
              securities dealer, you should contact the nominee for information
              pertaining to your account.
            </p>
            <p class="white">
              Whether you are a registered or beneficial shareholder you must
              contact a nominee such as a trustee, financial institution or
              securities dealer to sell or transfer your shares.
            </p>
            <h6 class="white">REPLACING SHARE CERTIFICATES</h6>
            <p class="white">
              If your {{domain}} share certificate has been lost, stolen or
              destroyed, you should contact Computershare Trust Company of
              Canada to inform them of the loss. A representative from the
              Shareholder Service department will send you the necessary
              documentation to arrange for the issuance of a replacement
              certificate. You will also be required to pay an indemnity bond
              premium fee, which is equal to 3% of the market value of the
              shares represented by your lost certificate(s).
            </p>
          </div>
          <button class="btn-red wow fadeInLeft animated" data-wow-delay="0.3s">
            READ MORE <span>+</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="invest-sec7" style="overflow-x: hidden">
    <div class="container">
      <!-- <div class="row">
        <div
          class="col-xs-12 col-sm-3 left wow fadeInLeft animated"
          data-wow-delay="0.2s"
        >
          <img src="/assets/images/investors-news.png" />
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="content">
            <h3 class="white wow fadeInLeft animated" data-wow-delay="0.3s">
              News
            </h3>

            <a href="https://tfiintl.com/en/news/"
              ><button
                class="btn-redd wow fadeInLeft animated"
                data-wow-delay="0.3s"
              >
                ALL NEWS <span>&gt;</span>
              </button></a
            >
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>

{% endblock content %} {% block script %}

<script type="text/javascript">
  $(".btn-red").on("click", function () {
    $(this).siblings(".content").toggleClass("expanded");
    if ($(this).siblings(".content").hasClass("expanded")) {
      $(this).text("READ LESS -");
    } else {
      $(this).text("READ MORE +");
    }
  });
</script>
{% endblock script %}
