{% extends 'layouts/home-layout.html' %}
<!----->
{% block title %} Logistics {% endblock title %}
<!----->

{% block content %}
<div class="logistics-wrap">
  <div class="inner-menu">
    <div class="inner-container">
      <!-- <a href="/solutions/">SOLUTIONS</a> -->
      <a href="/packages-and-courier/">PACKAGE AND COURIER</a>
      <a href="/less-than-truckload/">LESS-THAN-TRUCKLOAD</a>

      <a class="selected" href="/logistics/">LOGISTICS</a>
    </div>
  </div>
  <section
    class="hero"
    data-parallax="scroll"
    data-image-src="/assets/images/2_4_1_TFI_hero_images_desktop.jpg"
  >
    <div class="content wow fadeInLeft animated">
      <h2 class="white">Integrated One-Stop Transportation.</h2>
    </div>
  </section>
  <section class="logistics-sec2">
    <div class="container-fluid">
      <div class="row acq">
        <div
          class="col-xs-12 col-md-6 col-md-push-6 box wow slideInRight animated"
        >
          <div class="content">
            <h3>Logistics</h3>
            <p>
              Regardless of a shipment’s point of origin, destination or
              dimensions, we offer reliable and effective transportation
              solutions. Through our Logistics segment, we are able to extend
              same day parcel services to every major US and Canadian city.
            </p>
            <p>
              We have the infrastructure and expertise to provide consistent
              excellence in service, taking every detail into consideration. Our
              systems allow customers to focus less on managing freight
              movements and more on core business objectives.
            </p>
          </div>
        </div>
        <div
          class="col-xs-12 col-md-6 col-md-pull-6 box wow slideInLeft animated"
        >
          <img src="/assets/images/logistics-sec2-img.png" />
        </div>
      </div>
    </div>
  </section>
  <section
    class="logistics-sec3"
    data-parallax="scroll"
    data-image-src="/assets/images/2_4_2_TFI_hero_images_desktop.jpg"
  >
    <ul class="ytd">
      <li class="chart" data-percent="20"><span>20%</span>OF YTD REVENUE</li>
    </ul>
  </section>

  <section class="logistics-sec4">
    <h3>Benefits</h3>
    <div class="container">
      <div class="row r1">
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.2s">
            <img src="/assets/images/full-service.png" />
            <h6 class="red">FULL SERVICE</h6>
            <p>
              We offer complete supply chain management and transportation
              planning.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.3s">
            <img src="/assets/images/non-asset.png" />
            <h6 class="red">NON-ASSET-BASED APPROACH</h6>
            <p>
              Our approach is a strategic complement to conventional
              transportation services, requiring less capital and generating
              even stronger returns.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.4s">
            <img src="/assets/images/robust-network.png" />
            <h6 class="red">ROBUST NETWORK</h6>
            <p>
              We leverage our extensive network to capitalize on e-commerce
              growth opportunities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="nof" class="logistics-sec5">
    <h3>Logistics Companies</h3>
    <div class="tabs">
      <h5 data-tab="logistics">LOGISTICS</h5>

      <hr />
    </div>
    <div class="companies">
      <div data-tab="logistics">
        <div class="container-fluid">
          <div class="inner-container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>AC Logistics Canada</h5>
                  <p></p>
                  <p>
                    96 Disco Rd<br />Etobicoke, ON<br />M9W 0A3<br />Tel.:
                    800-890-6582
                  </p>
                  <p>
                    <a
                      href="https://www.acfinalmile.com"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Axsun</h5>
                  <p></p>
                  <p>
                    4900 Armand Frappier<br />St-Hubert, QC<br />J3Z 1G5<br />Tel.:
                    888 992-9786
                  </p>
                  <p>
                    <a
                      href="https://axsungroup.com/en/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Cavalier Logistics</h5>
                  <p></p>
                  <p>
                    14091 Humber Station Rd, PO Box 10<br />Bolton, ON<br />L7E
                    5T1<br />Tel.: 905 857-6981
                  </p>
                  <p>
                    <a
                      href="http://www.cavalier.ca"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Clarke North America</h5>
                  <p></p>
                  <p>
                    200-201 Westcreek Blvd<br />Brampton, ON<br />L6T 5S6<br />Tel.:
                    905 291-3000
                  </p>
                  <p>
                    <a
                      href="https://www.clarkelink.com/default.aspx"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Cornerstone Logistics</h5>
                  <p></p>
                  <p>
                    204-2180 Buckingham Rd<br />Oakville, ON<br />L6H 6H1<br />Tel.:
                    905 339-1456
                  </p>
                  <p>
                    <a
                      href="https://cornerstonelogistics.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Craler</h5>
                  <p></p>
                  <p>
                    801 Boul Industriel<br />Bois-des-Filion, QC<br />J6Z 4T3<br />Tel.:
                    450 681-6860
                  </p>
                  <p>
                    <a href="http://craler.com/" target="_blank" rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>DSN Chemical Transportation</h5>
                  <p></p>
                  <p>
                    200-4050B Sladeview Cres<br />Mississauga, ON<br />L5L
                    5Y5<br />Tel.: 905 607-6775
                  </p>
                  <p>
                    <a
                      href="https://www.chemicaltransportation.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>E&#038;L Logistics</h5>
                  <p></p>
                  <p>
                    202-6185 Boul Taschereau<br />Brossard, QC<br />J4Z 1A6<br />Tel.:
                    450 462-0941
                  </p>
                  <p>
                    <a
                      href="https://ellogistics.ca/eng/index.html"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>FreightLine</h5>
                  <p></p>
                  <p>
                    1400 Corporate Dr<br />Burlington, ON<br />L7L 6H4<br />Tel.:
                    905 315-8788
                  </p>
                  <p>
                    <a
                      href="https://freightlinecarriers.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Logikit</h5>
                  <p></p>
                  <p>
                    440 Rue du Parc<br />St-Eustache, QC<br />J7R 7G6<br />Tel.:
                    450 623-7529
                  </p>
                  <p>
                    <a
                      href="https://www.logikitinc.ca/home?_locale=en"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Quik X Logistics</h5>
                  <p></p>
                  <p>
                    5425B Dixie Rd<br />Mississauga, ON<br />L4W 1E6<br />Tel.:
                    905 238-8211
                  </p>
                  <p>
                    <a
                      href="https://tforcefreightcanada.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Quiktrax Intermodal</h5>
                  <p></p>
                  <p>
                    200-201 Westcreek Blvd<br />Brampton, ON<br />L6T 5S6<br />Tel.:
                    905 291-3001
                  </p>
                  <p>
                    <a href="http://quiktrax.ca" target="_blank" rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>SAF Logistics</h5>
                  <p></p>
                  <p>
                    346 Rue Béliveau<br />Saint-Léonard d&#8217;Aston, QC<br />J0C
                    1M0<br />Tel.: 819 229-3000
                  </p>
                  <p>
                    <a
                      href="https://www.saflogistics.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Stream Logistics</h5>
                  <p></p>
                  <p>
                    5425 Dixie Rd<br />Mississauga, ON<br />L4W 1E6<br />Tel.:
                    905 625-1770
                  </p>
                  <p>
                    <a
                      href="https://streamlogistics.ca/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Autogistics</h5>
                  <p></p>
                  <p>
                    1000 Windham Parkway<br />Bolingbrook, IL<br />60490 USA<br />Tel.:
                    877 744-3818
                  </p>
                  <p>
                    <a href="https://tfwwi.com/" target="_blank" rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Logistics</h5>
                  <p></p>
                  <p>
                    700-14881 Quorum Dr<br />Dallas, TX<br />75254-7096 USA<br />Tel.:
                    888 407-4640
                  </p>
                  <p>
                    <a
                      href="https://www.tforcelogistics.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Logistics Canada</h5>
                  <p></p>
                  <p>
                    96 Disco Rd<br />Etobicoke, ON<br />M9W 0A3<br />Tel.:
                    800-387-7787
                  </p>
                  <p>
                    <a
                      href="https://www.tforcelogistics.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce LSM</h5>
                  <p></p>
                  <p>
                    1000 Windham Parkway<br />Bolingbrook, IL<br />60490 USA<br />Tel.:
                    877 744-3818
                  </p>
                  <p>
                    <a href="https://tfwwi.com/" target="_blank" rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Medical Logistics</h5>
                  <p></p>
                  <p>
                    700-14881 Quorum Dr<br />Dallas, TX<br />75254 USA<br />Tel.:
                    212 497-4680
                  </p>
                  <p>
                    <a
                      href="https://tforcemedical.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Premier Distribution</h5>
                  <p></p>
                  <p>
                    2660 Industrial Blvd<br />West Sacramento, CA<br />95691
                    USA<br />Tel.: 916 381-0154
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TFWW</h5>
                  <p></p>
                  <p>
                    1000 Windham Parkway<br />Bolingbrook, IL<br />60490 USA<br />Tel.:
                    877 744-3818
                  </p>
                  <p>
                    <a
                      href="https://www.tfwwi.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Unity Courier Service</h5>
                  <p></p>
                  <p>
                    PO Box 10909<br />Burbank, CA<br />91505<br />Tel.: 323
                    255-9800
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".logistics-sec5 .tabs h5:first-of-type").addClass("selected");
      $(".logistics-sec5 .tabs h5").on("click", function (e) {
        //Variables
        var a = $(this).data("tab");
        $(this).addClass("selected").siblings("h5").removeClass("selected");
        $(".logistics-sec5 .companies>div").each(function () {
          var b = $(this).data("tab");
          if (a == b) {
            $(this).show().siblings().hide();
          }
        });
      });
    });
  </script>
</div>

{% endblock content %}
