{% extends 'layouts/home-layout.html' %}
<!----->
{% block title %} Shareholder informations {% endblock title %}
<!----->

{% block content %}

<div class="shareholder-wrap">
  <div class="inner-menu">
    <div class="inner-container">
      <a href="/investors/">INVESTING IN TFI</a>
      <a href="/presentations-and-reports/">PRESENTATIONS & REPORTS</a>
      <a class="selected" href="/shareholder-information/"
        >SHAREHOLDER INFORMATION</a
      >
    </div>
  </div>
  <section
    class="hero"
    data-parallax="scroll"
    data-image-src="/assets/images/shareholders-hero.jpg"
  >
    <div class="content wow fadeInLeft animated">
      <h2 class="white">Shareholder Information</h2>
    </div>
  </section>
  <section class="share-sec2">
    <div class="container-fluid">
      <div class="inner-container">
        <div class="row">
          <div class="col-xs-12 wow fadeInLeft animated">
            <h6 class="red">ANALYST COVERAGE</h6>
            <p>
              Please note that any opinions, estimates or forecasts regarding
              {{domain}} ’s performance made by these analysts are theirs alone
              and do not represent opinions, forecasts or predictions of
              {{domain}} or its management.
            </p>
          </div>
        </div>
        <div class="header-wrap">
          <div class="row r2 wow fadeInLeft animated" data-wow-delay="0.2s">
            <div class="col-xs-4">
              <h6 class="red"><strong>Firm</strong></h6>
            </div>
            <div class="col-xs-4">
              <h6 class="red"><strong>Analyst</strong></h6>
            </div>
            <div class="col-xs-4">
              <h6 class="red"><strong>Phone</strong></h6>
            </div>
          </div>
        </div>

        <div class="row r3 wow fadeInLeft animated" data-wow-delay="0.5s">
          <div class="col-xs-4">
            <div class="content">
              <h6>Bank of America</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Ken Hoexter</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>646 855-1498</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>BMO Capital Markets</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Fadi Chamoun</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 359-6775</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CIBC World Markets</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Kevin Chiang</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 594-7198</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Cormark Securities</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>David Ocampo</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 943-4232</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Cowen and Company</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Jason H. Seidl</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>646 562-1404</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Credit Suisse</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Ariel Rosa</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 325-7508</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Desjardins Securities</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Benoit Poirier</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>514 281-8653</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Goldman Sachs</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Jordan Alliger</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 357-4913</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>JP Morgan</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Brian Ossenbeck</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 622-1023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Morgan Stanley</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Ravi Shanker</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 761-6350</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>National Bank Financial</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Cameron Doerksen</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>514 879-2579</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>RBC Capital Markets</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Walter Spracklin</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 842-7877</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Scotia Capital</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Konark Gupta</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 865-6337</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Stephens</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Jack Atkins</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>501 377-2298</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Stifel</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>J. Bruce Chan</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>786 257-2411</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Susquehanna Financial Group (SIG)</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Bascome Majors</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 510-4407</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>TD Securities</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Tim James</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 308-9773</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>UBS</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Thomas Wadewitz</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 713-6116</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Veritas Investment Research</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Dan Fong</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>416 866-8783</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Wells Fargo</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>James Monigan</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>212 214-1156</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Wolfe Research</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>Scott Group</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>646 845-0721</h6>
            </div>
          </div>
        </div>
        <div class="row r4">
          <div class="col-xs-12">
            <p>
              {{domain}} invites those people considering an investment in the
              Company to consult with an independent, professional advisor
              before making such a decision.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="share-sec3">
    <div class="container-fluid">
      <div class="inner-container">
        <div class="row">
          <div class="col-xs-12 wow fadeInLeft animated">
            <h6 class="red">DIVIDEND PAYMENTS</h6>
            <p></p>
            <p>
              Beginning on April 15, 2021, dividends are declared and paid in
              U.S. currency.
            </p>
            <p>
              Canadian shareholders can elect to receive payments in equivalent
              Canadian currency converted at the Bank of Canada exchange rate in
              effect on the record date.
            </p>
            <p>
              Changes to elections need to be made at least 30 days prior to
              future record dates.
            </p>
            <p>
              The following lists the most recent dividends declared by TFI
              International’s Board of Directors on the Company’s common shares.
            </p>
          </div>
        </div>

        <div class="header-wrap wow fadeInLeft animated" data-wow-delay="0.2s">
          <div class="row r2">
            <div class="col-xs-4">
              <h6 class="red"><strong>Record Date</strong></h6>
            </div>
            <div class="col-xs-4">
              <h6 class="red"><strong>Payment Date</strong></h6>
            </div>
            <div class="col-xs-4">
              <h6 class="red"><strong>Dividend (per share)</strong></h6>
            </div>
          </div>
        </div>

        <div class="row r3 wow fadeInLeft animated" data-wow-delay="0.5s">
          <div class="col-xs-4">
            <div class="content">
              <h6>June 30, 2023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 17, 2023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.35</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 31, 2023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 17, 2023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.35</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 30, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 16, 2023</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.35</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 30, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 17, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.27</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 30, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 15, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.27</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 31, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 15, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.27</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 31, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 17, 2022</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.27</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 30, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 15, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.23</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 30, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 15, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.23</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 31, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 15, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>US $0.23</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 31, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 15, 2021</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.29</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 30, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 15, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.26</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 30, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 15, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.26</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 31, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 15, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.26</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 31, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 15, 2020</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.26</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 30, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 15, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.24</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 28, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 15, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.24</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 29, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 15, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.24</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 31, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 15, 2019</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.24</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 28, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 15, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.21</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 29, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 16, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.21</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 29, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 16, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.21</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 29, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 15, 2018</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.21</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>September 30, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>October 16, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.19</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>June 30, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>July 17, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.19</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>March 31, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>April 17, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.19</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>December 30, 2016</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>January 16, 2017</h6>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="content">
              <h6>CAD $0.19</h6>
            </div>
          </div>
        </div>

        <div class="row r4">
          <div class="col-xs-12 wow fadeInLeft animated">
            <p class="splitter">
              All dividends declared and paid by {{domain}}. are eligible
              dividends pursuant to subsection 89(14) of the Income Tax Act
              (Canada) and any applicable provincial legislation pertaining to
              eligible dividends, unless indicated otherwise. Following several
              acquisitions, some dividends paid were not designated as eligible
              dividends as they were derived from earnings of acquired companies
              that were taxed at lower rates. The following table provides the
              most recent quarterly dividends per share paid including a
              non-eligible portion:
            </p>
          </div>
        </div>

        <div class="header-wrap">
          <div class="row r5 wow fadeInLeft animated" data-wow-delay="0.2s">
            <div class="col-xs-3">
              <h6 class="red"><strong>Payment Date</strong></h6>
            </div>
            <div class="col-xs-3">
              <h6 class="red"><strong>Eligible Dividend</strong></h6>
            </div>
            <div class="col-xs-3">
              <h6 class="red"><strong>Non-Eligible Dividend</strong></h6>
            </div>
            <div class="col-xs-3">
              <h6 class="red"><strong>Total Dividend</strong></h6>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="row r6 wow fadeInLeft animated" data-wow-delay="0.5s">
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 16, 2023</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.457913</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.016127</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.474040</h6>
              </div>
            </div>
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 17, 2022</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.324894</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.017412</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.342306</h6>
              </div>
            </div>
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 15, 2021</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.230165</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.059835</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.29</h6>
              </div>
            </div>
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 15, 2020</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.228081</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.031919</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.26</h6>
              </div>
            </div>
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 15, 2019</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.229808</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.010192</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.24</h6>
              </div>
            </div>
            <div class="col-xs-3 pdate">
              <div class="content">
                <h6>January 16, 2017</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.168254</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.021746</h6>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="content">
                <h6>CAD $0.19</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="share-sec4">
    <div class="container-fluid">
      <div class="inner-container">
        <div class="row">
          <div class="col-xs-12 wow fadeInLeft animated">
            <h6 class="red">AUDITOR &amp; TRANSFER AGENT</h6>
          </div>
        </div>
        <div class="row r2 wow fadeInLeft animated" data-wow-delay="0.2s">
          <div class="col-xs-6">
            <h6 class="red"><strong>Auditor</strong></h6>
          </div>
          <div class="col-xs-6">
            <h6 class="red"><strong>Transfer Agent and Registrar</strong></h6>
          </div>
        </div>
        <div class="row r3 wow fadeInLeft animated" data-wow-delay="0.5s">
          <div class="col-xs-6">
            <h6>
              KPMG LLP<br />
              600 De Maisonneuve Blvd W.<br />
              Montreal, QC<br />
              H3A 3J2
            </h6>
          </div>
          <div class="col-xs-6">
            <p>
              For any questions concerning changes to share registration,
              changes of address, distributions (if any), lost share
              certificates, the transfer of estates, or to advise of
              correspondence that has been sent in duplicate, shareholders are
              asked to contact the {{domain}}. transfer agent:
            </p>
            <p>
              Computershare Trust Company of Canada<br />
              100 University Avenue, 8th Floor<br />
              Toronto, Ontario M5J 2Y1
            </p>
            <p>
              Canada and the United States<br />
              Telephone: 1 800 564-6253<br />
              Fax: 1 888 453-0330
            </p>
            <p>
              International<br />
              Telephone: 514 982-7800<br />
              Fax: 416 263-9394
            </p>
            <p>
              Computershare Trust Company, N.A.<br />
              Co-Transfer Agent (U.S.)
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
