{% extends 'layouts/home-layout.html' %}
<!----->
{% block title %} Terms of use {% endblock title %}
<!----->

{% block content %}
<section class="share-sec2">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 wow fadeInLeft animated"
          style="visibility: visible; animation-name: fadeInLeft"
        >
          <h2>Terms of Use</h2>
          <h6 class="red">1. General</h6>
          <p>
            This Website is the exclusive property of {{domain}}. This document
            constitutes an agreement between you and {{domain}} Inc. that sets
            out the terms and conditions by which {{domain}}. allows you to
            visit the Website and to view the information that is contained
            therein. By visiting the {{domain}} Inc.’s Website, you accept the
            terms and conditions set forth in this agreement. Please read this
            document carefully and if for whatever reason you are not in
            agreement with the said terms and conditions, please end your visit
            to the site. BY VISITING {{domain}} INC.’S WEBSITE, YOU AGREE TO BE
            BOUND BY THE PROVISIONS OF THIS AGREEMENT WITHOUT LIMITATIONS OR
            RESERVATIONS, AND BY ANY APPLICABLE LAWS.
          </p>
          <h6 class="red">
            2. Compliance with this Agreement and Applicable Laws
          </h6>
          <p>
            The use you make of this site shall be in compliance with this
            agreement and any applicable laws, most notably but without limiting
            the generality of the foregoing, those laws pertaining to copyrights
            and trademarks.
          </p>
          <h6 class="red">
            3. Compliance with {{domain}}.’s Intention and Web Etiquette
          </h6>
          <p>
            Your use of this site shall comply with the intention of TFI
            International Inc. in making this site available to you, and
            accepted Web etiquette.
          </p>
          <h6 class="red">4. Site Monitoring</h6>
          <p>
            {{domain}}. reserves the right, at its sole discretion, to monitor
            your use of the Website as well as the use and access of all other
            users. By accepting to access this Website, you give your express
            consent that {{domain}} engages in such monitoring. You also
            acknowledge that {{domain}}. is not obliged to do so and makes no
            representation to this effect.
          </p>
          <h6 class="red">5. Limiting Access</h6>
          <p>
            {{domain}} reserves the right, for whatever reason that TFI
            International Inc. deems appropriate at its sole discretion, to
            prevent or limit access to this Website.
          </p>
          <h6 class="red">
            6. Goal of the Site and Limits Concerning the Information Contained
            therein
          </h6>
          <p>
            The primary goal of this Website is to provide information on TFI
            International Inc. as well as the products and services offered by
            its subsidiaries, divisions and affiliated companies. The
            information contained herein is provided for information purposes
            only and should only be used with this goal in mind. TFI
            International Inc. undertakes to ensure that the information on the
            site is accurate and up to date. Nevertheless, it is possible that
            this information, especially that concerning {{domain}} Inc.’s
            future projects, may be incomplete, that it may contain errors or
            that it may be out of date or inaccurate. Before making a decision
            based on the said information, you should validate the information
            with another source or contact {{domain}}.
          </p>
          <h6 class="red">7. Limitation of {{domain}}.’s Liability</h6>
          <p>
            {{domain}}. does not assume any responsibility whatsoever nor does
            it provide any guarantee be it express or implied, legal or
            contractual, concerning the site’s contents, the validity of the
            information contained therein or the operation thereof. TFI
            International Inc. assumes no liability pertaining to the use of the
            site’s content or for any damage or problem, whatever its nature or
            origin, that may arise in the use of this site or following the use
            thereof or because of problems stemming from the operation thereof.
          </p>
          <h6 class="red">8. Your Responsibility</h6>
          <p>
            You acknowledge your being liable towards {{domain}}. for any
            damages stemming from the misuse of the Website that does comply
            with this agreement or the applicable laws and regulations. In
            addition to any other recourse provided by the said laws, you agree
            to hold {{domain}}. harmless as to any damages, liabilities, losses
            or claims to which {{domain}}. may be subject or any claim that
            might arise following misuse of the site.
          </p>
          <h6 class="red">9. Copyright Protection</h6>
          <p>
            The information contained on, or accessed via, this site is
            protected by copyright. Any use or reproduction of the information
            contained on this site other than for strictly personal and/or
            non-business purposes is strictly prohibited unless prior written
            approval is given by {{domain}}.
          </p>
          <h6 class="red">10. Trademarks</h6>
          <p>
            The trademarks found on this site, most notably the name TFI
            International Inc. and that of its subsidiaries, division and
            affiliated companies as well as the logos of {{domain}}. and its
            various entities are registered trademarks that belong to
            {{domain}}. Their use or reproduction other than for strictly
            personal and/or non-business purposes is strictly prohibited unless
            prior written approval is given by {{domain}} Inc.
          </p>
          <h6 class="red">11. Hyperlinks and References</h6>
          <p>
            {{domain}}.’s Website contains links that allow you to access other
            Websites operated by third parties and containing information on the
            said parties. These links have been provided solely as a convenience
            for users of this Website and {{domain}} Inc. does not make any
            representation as to these third parties, to the state of the said
            sites nor the information contained therein or that could be
            distributed by such third party sites. {{domain}}. does not assume
            any responsibility concerning any damages that arise from the use of
            such links or information concerning such third parties. It is also
            forbidden to insert a link from your Website to that of {{domain}}.
            without having obtained prior written approval from TFI
            International Inc.
          </p>
          <h6 class="red">12. Privacy and Confidential Information Policy</h6>
          <p>
            You acknowledge that you have consulted the Privacy and Confidential
            Information Policy, which is an integral part of this agreement.
          </p>
          <h6 class="red">13. Non-Confidential Information</h6>
          <p>
            Any information that you transfer onto {{domain}}.’s Website, if
            applicable, is considered to be non-confidential and you acknowledge
            that {{domain}}. may use such information at its sole discretion and
            without limitation.
          </p>
          <h6 class="red">14. Acknowledgement and Consent to Data Exchange</h6>
          <p>
            Your use of this Website results in an exchange of data between your
            computer and {{domain}}.’s server. By accessing this site, you agree
            to this exchange as well as to the fact that {{domain}} Inc. may
            store and use some of this information for internal purposes.
            {{domain}}. will not release this information unless obliged to do
            so by law or by any final judgment rendered by a court of law having
            appropriate jurisdiction.
          </p>
          <h6 class="red">15. Cookies</h6>
          <p>
            It is possible that during a visit to this Website that TFI
            International Inc.’s servers automatically install cookies on the
            hard disk of your computer. These cookies are meant to facilitate
            the identification of users during subsequent visits. You may change
            the parameters of your browser in order to prevent the use of
            cookies. By accessing {{domain}}.’s Website without having
            previously changed the parameters of your browser, you agree to the
            use of cookies and release {{domain}}. from any liability concerning
            such practices.
          </p>
          <h6 class="red">
            16. Changes Without Prior Notice and Reserve of Rights
          </h6>
          <p>
            {{domain}}. reserves the right to make any changes to the content of
            this agreement as well as that of its Website without providing
            prior notice. In the event of litigation involving this agreement,
            the version that is in effect at the time that alleged actions take
            place shall take precedence. {{domain}}. also reserves those rights
            that have not been expressly mentioned in this agreement.
          </p>
          <h6 class="red">17. Jurisdiction of Québec Courts</h6>
          <p>
            You acknowledge and agree that courts in the Province of Québec have
            exclusive jurisdiction over any dispute that may arise from your use
            of this Website.
          </p>
          <h6 class="red">18. Laws of Québec</h6>
          <p>
            The agreement and any dispute arising from the use of this Website
            shall be interpreted and governed by the laws of the Province of
            Québec without reference being made to conflict rules.
          </p>
          <h6 class="red">19. Territory</h6>
          <p>
            {{domain}}. operates this Website in Canada. If you access this
            Website from outside of Canada, you do so at your own risk and
            assume all responsibilities in the event that the information found
            on this Website does not comply with the laws of your country or
            jurisdiction.
          </p>
          <h6 class="red">20. Interpretation</h6>
          <p>
            Any reference made to {{domain}}. in this agreement shall be
            interpreted as a reference to {{domain}}. as well as its
            subsidiaries, divisions and affiliated companies.<br />
            Any reference made to “this Website” or “{{domain}}.’s Website”
            shall constitute reference to the Website found at the address
            www.tfiintl.com, all Web pages beginning with the address
            www.tfiintl.com as well as all Web pages relating to TFI
            International Inc.’s subsidiaries, divisions and affiliated
            companies that may be accessed via this Website.<br />
            Any reference to information contained on this Website refers to all
            contents on the site, whether the information is directly or
            indirectly accessible or via download, whatever its form and without
            restriction.
          </p>
          <h6 class="red">21. Language</h6>
          <p>
            As you have chosen to visit the English version of this site, the
            parties have specifically requested that this agreement be drafted
            in English.
          </p>
          <p>
            Puisque vous avez choisi de consulter la version anglaise de ce
            site, les parties ont spécifiquement demandées à ce que cette
            entente soit rédigée en anglais.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
