{% extends 'layouts/home-layout.html' %}
<!----->
{% block title %} Less Than Truckload {% endblock title %}
<!----->

{% block content %}

<div class="less-truck-wrap">
  <div class="inner-menu">
    <div class="inner-container">
      <!-- <a href="/solutions/">SOLUTIONS</a> -->
      <a href="/packages-and-courier/">PACKAGE AND COURIER</a>
      <a class="selected" href="/less-than-truckload/">LESS-THAN-TRUCKLOAD</a>

      <a href="/logistics/">LOGISTICS</a>
    </div>
  </div>
  <section
    class="hero"
    data-parallax="scroll"
    data-image-src="/assets/images/2_2_1_TFI_hero_images_desktop-1.jpg"
  >
    <div class="content wow fadeInLeft animated">
      <h2 class="white">Reputation for Reliability.</h2>
    </div>
  </section>
  <section class="less-truck-sec2">
    <div class="container-fluid">
      <div class="row acq">
        <div
          class="col-xs-12 col-md-6 col-md-push-6 box wow slideInRight animated"
        >
          <div class="content">
            <p>
              <!--

<h6 class="red">LESS-THAN-TRUCKLOAD</h6>

-->
            </p>
            <h3>Less-Than-Truckload</h3>
            <p>
              {{domain}} has become a trusted solution for over-the-road and
              intermodal LTL services across Canada and the US.
            </p>
            <p>
              Our innovative systems are designed to facilitate on-time and
              damage-free transportation of customer freight. With an impeccable
              track record, we are now recognized as a delivery service you can
              depend on to satisfy your every need.
            </p>
          </div>
        </div>
        <div
          class="col-xs-12 col-md-6 col-md-pull-6 box wow slideInLeft animated"
        >
          <img src="/assets/images/truckload-sec2-img.png" />
        </div>
      </div>
    </div>
  </section>
  <section
    class="less-truck-sec3"
    data-parallax="scroll"
    data-image-src="/assets/images/2_2_2_TFI_hero_images_desktop_v2.jpg"
  >
    <ul class="ytd">
      <li class="chart" data-percent="45"><span>45%</span>OF YTD REVENUE</li>
    </ul>
  </section>

  <section class="less-truck-sec4">
    <h3>Benefits</h3>
    <div class="container">
      <div class="row r1">
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.2s">
            <img src="/assets/images/consumer-tech.png" />
            <h6 class="red">CONSUMER-FACING TECHNOLOGY</h6>
            <p>
              We offer clients a web-enhanced experience for facilitating and
              expediting their orders and inquiries.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.3s">
            <img src="/assets/images/network.png" />
            <h6 class="red">EFFICIENT NETWORK</h6>
            <p>
              Leveraging our capabilities in asset-light intermodal activities
              allows us to generate higher returns.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 box">
          <div class="content wow zoomIn animated" data-wow-delay="0.4s">
            <img src="/assets/images/asset-optimization.png" />
            <h6 class="red">Best-in-class Capabilities</h6>
            <p>
              We provide enhanced management of multiple providers, improved
              service levels, and a disciplined approach to adapting supply to
              demand.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="nof" class="less-truck-sec5">
    <h3>Less-Than-Truckload Companies</h3>
    <div class="tabs">
      <h5 data-tab="intermodal">INTERMODAL</h5>
      <h5 data-tab="over-road">OVER-THE-ROAD</h5>
      <hr />
    </div>
    <div class="companies">
      <div data-tab="intermodal">
        <div class="container-fluid">
          <div class="inner-container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Clarke Transport</h5>
                  <p></p>
                  <p>
                    200-201 Westcreek Blvd<br />Brampton, ON<br />L6T 5S6<br />Tel.:
                    905 291-3000
                  </p>
                  <p>
                    <a
                      href="http://www.clarkelink.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>National Fast Freight</h5>
                  <p></p>
                  <p>
                    1201 Creditstone Rd<br />Concord, ON<br />L4K 0C2<br />Tel.:
                    905 494-4808
                  </p>
                  <p>
                    <a
                      href="http://www.nationalfastfreight.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Vitran</h5>
                  <p></p>
                  <p>
                    1201 Creditstone Rd<br />Concord, ON<br />L4K 0C2<br />Tel.:
                    416 798-4965
                  </p>
                  <p>
                    <a
                      href="https://www.vitran.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="over-road" data-tab="over-road">
        <div class="container-fluid">
          <div class="inner-container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Cavalier</h5>
                  <p></p>
                  <p>
                    14091 Humber Station Rd, PO Box 10<br />Bolton, ON<br />L7E
                    5T1<br />Tel.: 905 857-6981
                  </p>
                  <p>
                    <a
                      href="http://www.cavalier.ca/en/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Excel Transportation</h5>
                  <p></p>
                  <p>
                    300 Pendant Dr<br />Mississauga, ON<br />L5T 2W6<br />Tel.:
                    905 364-7779
                  </p>
                  <p>
                    <a
                      href="http://www.exceltransportation.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Hot Line Freight Systems</h5>
                  <p></p>
                  <p>
                    N4690 Bangor Parkway<br />West Salem, WI<br />54669 USA<br />Tel.:
                    800 468-4686
                  </p>
                  <p>
                    <a
                      href="https://www.hotlinefreight.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Kindersley</h5>
                  <p></p>
                  <p>
                    2411 Wentz Ave<br />Saskatoon, SK<br />S7K 3V6<br />Tel.:
                    800 667-8557
                  </p>
                  <p>
                    <a
                      href="https://www.kindersleytransport.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>La Crete Transport</h5>
                  <p></p>
                  <p>
                    9706 99<sup>th</sup> St<br />LaCrete, AB<br />T0H 2H0<br />Tel.:
                    780 928-3989
                  </p>
                  <p>
                    <a
                      href="http://www.latrans.ca/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>McMurray Serv-U Expediting</h5>
                  <p></p>
                  <p>
                    Bay 2, 350 MacAlpine Cres<br />Fort McMurray, AB<br />T9H
                    4A8<br />Tel.: 780 791-3530
                  </p>
                  <p>
                    <a
                      href="http://www.mcmurrayservu.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Normandin</h5>
                  <p></p>
                  <p>
                    151 Boul Industriel<br />Napierville, QC<br />J0J 1L0<br />Tel.:
                    450 245-0445
                  </p>
                  <p>
                    <a
                      href="https://www.normandintransit.com/en/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Freight</h5>
                  <p></p>
                  <p>
                    1000 Semmes Ave<br />Richmond, VA<br />23224 USA<br />Tel.:
                    800 333-7400
                  </p>
                  <p>
                    <a
                      href="https://www.tforcefreight.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TForce Freight Canada</h5>
                  <p></p>
                  <p>
                    5425B Dixie Rd<br />Mississauga, ON<br />L4W 1E6<br />Tel.:
                    905 238-8211
                  </p>
                  <p>
                    <a
                      href="https://tforcefreightcanada.com/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>Tripar Transportation</h5>
                  <p></p>
                  <p>
                    100-2180 Buckingham Rd<br />Oakville, ON<br />L6H 6H1<br />Tel.:
                    800 387-7210
                  </p>
                  <p>
                    <a
                      href="https://tripartrans.com/en/"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 box">
                <div class="content wow zoomIn animated" data-wow-delay="0.5">
                  <h5>TST-CF Express</h5>
                  <p></p>
                  <p>
                    5200 Maingate Dr<br />Mississauga, ON<br />L4W 1G5<br />Tel.:
                    905 625-7500
                  </p>
                  <p>
                    <a
                      href="https://tst-cfexpress.com/open-site/switch-language?lang=en&#038;current=home"
                      target="_blank"
                      rel="noopener"
                      >Visit Website</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %} {% block script %}
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $(".less-truck-sec5 .tabs h5:first-of-type").addClass("selected");
    $(".less-truck-sec5 .tabs h5").on("click", function (e) {
      //Variables
      var a = $(this).data("tab");
      $(this).addClass("selected").siblings("h5").removeClass("selected");
      $(".less-truck-sec5 .companies>div").each(function () {
        var b = $(this).data("tab");
        if (a == b) {
          $(this).show().siblings().hide();
        }
      });
    });
  });
</script>
{% endblock script %}
